

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');


h1, h2, h3, h4, h5, p, li, ul, a, button, input, select{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navbar{
    position: fixed;
    width: 100%;
     background-color: grey;
    margin-top: -8px;
    margin-left: -8px;
    height: 50px;
}

.logo{
    position: absolute;
    left: 5%;
    top: 5px;
}

.menutop{
    font-size: 25px;
    text-align: center;
    align-items: center;
    color: white;
    
}

.body{
    background-color: #f9f9f9;
}



#texto{
    width: 250px;    
    float: right;
    position: absolute;
    top: 15%;
    left: 80%;
    
}

#texto:focus{
    border: solid 2px grey;
}

.btnsrch{
    width: 10px;
    height: 12px;
    background-color: grey;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
    position: absolute;
    left: 97%;
    top: 15%;
    margin-left: -9px;

    
}

.btnsrch:hover{
    background-color: black;
}

.mtbtn{
    cursor: pointer;
}

.mtbtn:hover{
    color: black;
}

/* Slide show de Imagens */

#slideshow{

    margin-top: 100px;
}


.slide
{   
    justify-content: center;
    position: relative;
    display: flex;
    z-index: -1;
    
}

.foto
{
    position: absolute;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    height: 350px;
    width: 85%;
    
}

@keyframes animacao{
    25%{
        opacity: 1;
        transform:scale(1.1,1.1);
    }
    50%{
        opacity: 0;
    }
}

.foto:nth-child(2){
    animation-delay: 5s;
}
.foto:nth-child(3){
    animation-delay: 10s;
}
.foto:nth-child(4){
    animation-delay: 15s;
}
.foto:nth-child(5){
    animation-delay: 20s;
}



/* Seção de destaques */

#textod{
    margin-top: 350px;
    text-align: center;
}

.destaque{
    font-size: 25px;
    font-weight: 500;
}

.especial{
    font-weight: normal;
}

/* Imagens dos destaques */


#selecao{
    display: grid;
    position: absolute;
    left: 5%;
    
}


.descricaos{
    width: 265px;
    border: 15px black;
    border-style: outset;
    border-width: 5px;
    text-align: center;
    justify-content: center;
    height: 100px;
    background-color: grey;
    color: white;
    display: inline-flex;
    margin-top: -5px;
}

/* Botão para ver estoque completo */

.btncheck{
    background-color: grey;
    color: white;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 125%;
}

.btncheck:hover{
    background-color: black;
    
}

/* Rodapé home */
.rodapehome{
    position: absolute;
    top: 130%;
    background-color:black;
    width: 100%;
    margin-left: -10px;
    height: 100px;
    color: white;
    text-align: center;
}


/* Página sobre a empresa */



#imgsbr{
position: absolute;
left: 45%;



}

.imgloja{
    width: 800px;
    height: 350px;
}

.timissao{
    font-size: 25px;
}

.tivisao{
    font-size: 25px;
}

.tivalores{
    font-size: 25px;
}

#missao{
    width: 40%;
}

#visao{
    width: 40%;
}

.rodapesobre{
    position: absolute;
    top: 110%;
    background-color:black;
    width: 100%;
    margin-left: -10px;
    height: 100px;
    color: white;
    text-align: center;
}

/* Página de contato */


#informacoes{
    
    position: absolute;
    top: 23%;
    width: max-content;
}

#mensagem{
    margin-left: 40%;
    width: 500px;
    height: 300px;
    border: black;
    border-style: solid;
    float: right;
    position: absolute;
    top: 30%;
    border-radius: 10px;
    text-align: center;
    
}

.msgbtn{
    margin-top: 10%;
    margin-left: 80%;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 100px;
    height: 40px;

}

.txtmsg{
    width: 90%;
    background-color:#f9f9f9 ;
    border: none;
    border-bottom: grey;
    border-bottom-style: solid;
    margin-top: 7%;
}

.txtmsg:focus{
    box-shadow: none;
    outline: none;
}

.envmsg{
    position: absolute;
    bottom: 100%;
    
}

#mapa{
    position: absolute;
    left: 100%;
    bottom: 50%;
    margin-bottom: -25%;
    margin-left: 10px;
    

}

#horario{
    position: absolute;
    left: 100%;
    top: 65.9%;
    width: 300px;
}

#telefone{
    margin-top: 50%;
}

#redesocial{
    position: absolute;
    left: 80%;
    top: 23%;
}

#emailcontato{
    position: absolute;
    left: 80%;
    top: 50%;
}

a:link{
    text-decoration: none;
}

.redesociais{
    color: black;
}

.msgbtn:hover{
    background-color: grey;
    border-color: black;
}

/* Rodapé da Página */

.rodape{
    position: absolute;
    top: 90%;
    background-color:black;
    width: 100%;
    margin-left: -10px;
    height: 100px;
    color: white;
    text-align: center;
}  

.irodape{
    color: white;
    margin-top: 10px;
    
}


/* Página do estoque */

#tituloestoque{
    position: absolute;
    left: 42%;
    top: 5%;
    z-index: -1;
}

#mensagemestoque{
    position: absolute;
    left: 35%;
    top: 15%;
    z-index: -1;

}

.hestoque{
    font-weight: normal;
}

.buscar{
    background-color: black;
    color: white;
    border-radius: 5px;
}

#rodapeest{
    position: absolute;
    top: 150%;
    background-color:black;
    width: 110%;
    height: 300px;
    margin-left: -6%;
    color: white;
    
}  

.contatoest{
    left: 1%;
    position: absolute;
}

.icelest{
    font-size: 30px;
}

.imsgest{
    font-size: 20px;
}

.imgestoque:hover{
    opacity: 0.7;
}

.redesest{
    position: absolute;
    left: 85%;
    color: white;
}

.iredeest{
    color: white;
}

#autor{
    position: absolute;
    left: 40%;
    top: 80%;
}

#estoquel1{
    display: grid;
    position: absolute;
    left: 5%;
    z-index: -1;
    top: 30%;
}

.descricaoest1{
    width: 265px;
    border: 15px black;
    border-style: outset;
    border-width: 5px;
    text-align: center;
    justify-content: center;
    height: 120px;
    background-color: grey;
    color: white;
    display: inline-flex;
    margin-top: -5px;
}


#estoquel2{
    display: grid;
    position: absolute;  
    top: 105%

}

.descricaoest2{
    width: 265px;
    border: 15px black;
    border-style: outset;
    border-width: 5px;
    text-align: center;
    justify-content: center;
    height: 120px;
    background-color: grey;
    color: white;
    display: inline-flex;
    margin-top: -5px;
}

#estoquel3{
    display: grid;
    position: absolute;  
    top: 105%

}

.descricaoest3{
    width: 265px;
    border: 15px black;
    border-style: outset;
    border-width: 5px;
    text-align: center;
    justify-content: center;
    height: 120px;
    background-color: grey;
    color: white;
    display: inline-flex;
    margin-top: -5px;
}


/* Adequando tamanho das imagens */

.imgestoque{
    height: 184px;
    width: 275px;

}

/* Página do carro */

/* Botão para voltar ao estoque */
#botaovoltarest{
    position: absolute;
    top: 10%;
    z-index: -1;
}

.backest{
    background-color: grey;
    color: white;
    width: 200px;
    border-radius: 5px;
    
}

.backest:hover{
    background-color: black;
}
/* Galeria de Imagens */



/* Conteiner onde ficam as imagens */
.gallery-container {
    width: 500px;
    position: absolute;
    margin: 0 5%;
    background: #333;
    padding: 2px;
    z-index: -1;
    top: 40%;
    left: 6%;
  }
    @media (min-width: 480px) {
        .gallery-container {
          width: 600px;
          margin: auto;
        }
    }
  
  /* Esconder as imagens */
  .mySlides {
    display: none;
  }
  
  /* Botões*/
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0,0,0,0.1);
  }
  
  /* Posição do botão da direita */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* Efeito ao passar o mouse no botão */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Enquadramento da imagem */

  .imgslide {
    width: 600px;
  }
  
  /* Numeracao indicando em qual imagem estamos e quantas tem */

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  @media (max-width: 768px) {
    .numbertext {
      top: 15px;
    }
  }
  
  /* Animação */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* Informações do carro */

  #infocarro{
      position: absolute;
      left: 55%;
      top: 11%;
      z-index: -1;

  }
 /* Contato da pagina do carro */

  #contatocarro{
    width: 500px;
    height: 300px;
    border: black;
    border-style: solid;
    float: right;
    position: absolute;
    top: 140%;
    border-radius: 10px;
    text-align: center;
    z-index: -1;
  }

  .msgbtncarro{
      position: absolute;
      background-color: black;
      color: white;
      top: 110%;
      right: 0%;
      width: 500px;
      border-radius: 5px;
      z-index: -1;
      height: 30px;
  }

  #telefonecarro{
      position: absolute;
      top: 400%;
      z-index: -1;
  }

  .hrcarro{
      width: 500px;
      z-index: -1;
  }

  .msgbtncarro:hover{
      background-color: grey;
  }

    /* Resumo das características do carro */
  #caracteristicascarro{
      position: absolute;
      display: grid;
      display: inline-flex;
      top: 506%;
      right: 133%;
      
  }

  .ajustescarro{
      margin-left: 20px;
      border-left: solid;
      border-color: rgb(161, 158, 158);
      padding-left: 10px;
    }

    .placa{
        width: 60px;
    }

    .hrc{
        position: absolute;
        width: 1000px;
        top: 500%;
        right: 48%;
    }
    
    #resumo{
        position: absolute;
        top: 470%;
        right: 225%;
    }

    /* Detalhes do carro */

    .hrdetalhe{
      position: absolute;  
      top: 575%;
      width: 240%;
      right: 0%;
    }

    #detalhescarro{
        position: absolute;
        top: 580%;
        width: 100%;
        right: 140%;
        display: inline-flex;
    }

    .dcarro{
        position: absolute;
        width: 500px;
        height: 200px;
        

    }

    .opcionais{
        position: absolute;
        left: 110%;
        height: 200px;
        width: 500px;
        border-left: solid;
        border-color: rgb(161, 158, 158);
        padding-left: 50px;


    }

    /*  Rodapé da página do carro  */

    .rodapecarro{
        position: absolute;
        top: 750%;
        background-color:black;
        height: 100px;
        margin-left: -6%;
        color: white;
        width: 294%;
        text-align: center;  
        right: -31%;
        
    }

    /* Ajustesgerais */

    /* gol */

    #detalhescarrogol{
        position: absolute;
        top: 580%;
        width: 100%;
        right: 135%;
        display: inline-flex;
    }

    #resumogol{
        position: absolute;
        top: 470%;
        right: 220%;
    }

    .hrdetalhegol{
        position: absolute;  
        top: 575%;
        width: 240%;
        right: -5%;
    }

    .hrcgol{
        position: absolute;
        width: 1000px;
        top: 500%;
        right: 55%;
    }

    #caracteristicascarrogol{
        position: absolute;
        display: grid;
        display: inline-flex;
        top: 506%;
        right: 140%;
        
    }
  
     /* Vectra */

     #detalhescarrovectra{
        position: absolute;
        top: 580%;
        width: 100%;
        right: 161%;
        display: inline-flex;
    }

    #resumovectra{
        position: absolute;
        top: 470%;
        right: 245%;
    }

    .hrdetalhevectra{
        position: absolute;  
        top: 575%;
        width: 270%;
        right: -9%;
    }

    .hrcvectra{
        position: absolute;
        width: 1000px;
        top: 500%;
        right: 45%;
    }

    #caracteristicascarrovectra{
        position: absolute;
        display: grid;
        display: inline-flex;
        top: 506%;
        right: 140%;
        
    }

    /* SW */

    #detalhescarrosw{
        position: absolute;
        top: 580%;
        width: 100%;
        right: 160%;
        display: inline-flex;
    }

    #resumosw{
        position: absolute;
        top: 470%;
        right: 245%;
    }

    .hrdetalhesw{
        position: absolute;  
        top: 575%;
        width: 270%;
        right: -6%;
    }

    .hrcsw{
        position: absolute;
        width: 1000px;
        top: 500%;
        right: 44%;
    }

    #caracteristicascarrosw{
        position: absolute;
        display: grid;
        display: inline-flex;
        top: 506%;
        right: 145%;
        
    }


        /* Fusion */

        #detalhescarrofusion{
            position: absolute;
            top: 580%;
            width: 100%;
            right: 128%;
            display: inline-flex;
        }
    
        #resumofusion{
            position: absolute;
            top: 470%;
            right: 215%;
        }
    
        .hrdetalhefusion{
            position: absolute;  
            top: 575%;
            width: 234%;
            right: -6%;
        }
    
        .hrcfusion{
            position: absolute;
            width: 1000px;
            top: 500%;
            right: 57%;
        }
    
        #caracteristicascarrofusion{
            position: absolute;
            display: grid;
            display: inline-flex;
            top: 506%;
            right: 133%;
            
        }


            /* Ka */

        #detalhescarroka{
            position: absolute;
            top: 580%;
            width: 100%;
            right: 150%;
            display: inline-flex;
        }
    
        #resumoka{
            position: absolute;
            top: 470%;
            right: 275%;
        }
    
        .hrdetalheka{
            position: absolute;  
            top: 575%;
            width: 328%;
            right: -33%;
        }
    
        .hrcka{
            position: absolute;
            width: 1000px;
            top: 500%;
            right: 34%;
        }
    
        #caracteristicascarroka{
            position: absolute;
            display: grid;
            display: inline-flex;
            top: 506%;
            right: 160%;
            
        }

        
    .dcarroka{
        position: absolute;
        width: 500px;
        height: 200px;
        right: 15%;
        

    }

        /* i30 */

        #detalhescarroi30{
            position: absolute;
            top: 580%;
            width: 100%;
            right: 146%;
            display: inline-flex;
        }
    
        #resumoi30{
            position: absolute;
            top: 470%;
            right: 270%;
        }
    
        .hrdetalhei30{
            position: absolute;  
            top: 575%;
            width: 322%;
            right: -33%;
        }
    
        .hrci30{
            position: absolute;
            width: 1000px;
            top: 500%;
            right: 36%;
        }
    
        #caracteristicascarroi30{
            position: absolute;
            display: grid;
            display: inline-flex;
            top: 506%;
            right: 150%;
            
        }

        
    .dcarroi30{
        position: absolute;
        width: 500px;
        height: 200px;
        right: 15%;
        

    }

    /* Hybrid */

    .hrdetalhehybrid{
        position: absolute;  
        top: 575%;
        width: 281%;
        right: -33%;
    }
    #resumohybrid{
        position: absolute;
        top: 470%;
        right: 233%;
    }

    #detalhescarrohybrid{
        position: absolute;
        top: 580%;
        width: 100%;
        right: 145%;
        display: inline-flex;
    }
   
           /* jetta */

           #detalhescarrojetta{
            position: absolute;
            top: 615%;
            width: 100%;
            right: 123%;
            display: inline-flex;
        }
    
        #resumojetta{
            position: absolute;
            top: 515%;
            right: 210%;
        }
    
        .hrdetalhejetta{
            position: absolute;  
            top: 610%;
            width: 229%;
            right: -6%;
        }
    
        .hrcjetta{
            position: absolute;
            width: 1000px;
            top: 540%;
            right: 59%;
        }
    
        #caracteristicascarrojetta{
            position: absolute;
            display: grid;
            display: inline-flex;
            top: 545%;
            right: 130%;
            
        } 

    /* Prisma */

    .hrcprisma{
        position: absolute;
        width: 1000px;
        top: 500%;
        right: 52%;
    }

    #caracteristicascarroprisma{
        position: absolute;
        display: grid;
        display: inline-flex;
        top: 506%;
        right: 135%;
        
    }

   #resumoprisma{
      position: absolute;
      top: 470%;
      right: 225%;
    }

    /* Cobalt */
    .hrccobalt{
        position: absolute;
        width: 1000px;
        top: 500%;
        right: 54%;
    }

    /* Duster */


        #detalhescarroduster{
            position: absolute;
            top: 580%;
            width: 100%;
            right: 170%;
            display: inline-flex;
        }
    
        #resumoduster{
            position: absolute;
            top: 470%;
            right: 253%;
        }
    
        .hrdetalheduster{
            position: absolute;  
            top: 575%;
            width: 291%;
            right: -20%;
        }
    
        .hrcduster{
            position: absolute;
            width: 1000px;
            top: 500%;
            right: 42%;
        }
    
        #caracteristicascarroduster{
            position: absolute;
            display: grid;
            display: inline-flex;
            top: 506%;
            right: 140%;
            
        }

            /* fiesta */


            #detalhescarrofiesta{
                position: absolute;
                top: 580%;
                width: 100%;
                right: 195%;
                display: inline-flex;
            }
        
            #resumofiesta{
                position: absolute;
                top: 470%;
                right: 273%;
            }
        
            .hrdetalhefiesta{
                position: absolute;  
                top: 575%;
                width: 333%;
                right: -35%;
            }
        
            .hrcfiesta{
                position: absolute;
                width: 1000px;
                top: 500%;
                right: 33%;
            }
        
            #caracteristicascarrofiesta{
                position: absolute;
                display: grid;
                display: inline-flex;
                top: 506%;
                right: 155%;
                
            }

            /* punto */


            #detalhescarropunto{
                position: absolute;
                top: 695%;
                width: 100%;
                right: 202%;
                display: inline-flex;
            }

            #resumopunto{
                position: absolute;
                top: 590%;
                right: 280%;
            }

            .hrdetalhepunto{
                position: absolute;  
                top: 690%;
                width: 337%;
                right: -35%;
            }

            .hrcpunto{
                position: absolute;
                width: 1000px;
                top: 615%;
                right: 30%;
            }

            #caracteristicascarropunto{
                position: absolute;
                display: grid;
                display: inline-flex;
                top: 620%;
                right: 155%;
                
            }

            .opcionaispunto{
                position: absolute;
                left: 130%;
                height: 200px;
                width: 500px;
                border-left: solid;
                border-color: rgb(161, 158, 158);
                padding-left: 50px;

            }
    

                /* Sandero */

                .hrcsandero{
                    position: absolute;
                    width: 1000px;
                    top: 500%;
                    right: 51%;
                }
    
                #caracteristicascarrosandero{
                    position: absolute;
                    display: grid;
                    display: inline-flex;
                    top: 505%;
                    right: 140%;
                    
                }
    
