

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');


h1, h2, h3, h4, p, li, ul, a, button{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navbar{
    position: fixed;
    width: 100%;
    
    
}

.menutop{
    font-size: 25px;
    margin-left: 200px;
    text-align: center;
    align-items: center;
}

.body{
    background-color: #f9f9f9;
}



#texto{
    width: 250px;    
    float: right;
    
}

#texto:focus{
    border: solid 2px grey;
}

.btnsrch{
    width: 10px;
    height: 10px;
    background-color: grey;
    padding: 5px 10px;
    cursor: pointer;
    float: right;

    
}

.btnsrch:hover{
    background-color: black;
}

.mtbtn{
    cursor: pointer;
}

.mtbtn:hover{
    background-color: gray;
}

/* Slide show de Imagens */

#slideshow{

    margin-top: 100px;
}


.slide
{   
    justify-content: center;
    position: relative;
    display: flex;
    
}

.foto
{
    position: absolute;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes animacao{
    25%{
        opacity: 1;
        transform:scale(1.1,1.1);
    }
    50%{
        opacity: 0;
    }
}

.foto:nth-child(2){
    animation-delay: 5s;
}
.foto:nth-child(3){
    animation-delay: 10s;
}
.foto:nth-child(4){
    animation-delay: 15s;
}

/* Seção de destaques */

#textod{
    margin-top: 350px;
    text-align: center;
}

.destaque{
    font-size: 25px;
    font-weight: 500;
}

.especial{
    font-weight: normal;
}

/* Imagens dos destaques */


#selecao{
    display: grid;
    position: relative;
    margin-left: 50px;
}


.descricaos{
    width: 265px;
    border: 15px black;
    border-style: outset;
    border-width: 5px;
    text-align: center;
    justify-content: center;
    height: 100px;
    background-color: grey;
    color: white;
    display: inline-flex;
    margin-top: -5px;
}

/* Botão para ver estoque completo */

.btncheck{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
}

/* Página sobre a empresa */



#imgsbr{
float: right;
margin-top: 50px;

}

.timissao{
    font-size: 25px;
}

.tivisao{
    font-size: 25px;
}

.tivalores{
    font-size: 25px;
}

#missao{
    width: 40%;
}

#visao{
    width: 40%;
}

/* Página de contato */


#informacoes{
    
    position: absolute;
    top: 23%;
    width: max-content;
}

#mensagem{
    margin-left: 40%;
    width: 500px;
    height: 300px;
    border: black;
    border-style: solid;
    float: right;
    position: absolute;
    top: 30%;
    border-radius: 10px;
    text-align: center;
    
}

.msgbtn{
    margin-top: 20%;
    margin-left: 80%;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 100px;
    height: 40px;

}

.txtmsg{
    width: 90%;
    background-color:#f9f9f9 ;
    border: none;
    border-bottom: grey;
    border-bottom-style: solid;
    margin-top: 7%;
}

.txtmsg:focus{
    box-shadow: none;
    outline: none;
}

.envmsg{
    position: absolute;
    bottom: 100%;
    
}

#mapa{
    position: absolute;
    left: 100%;
    bottom: 50%;
    margin-bottom: -25%;
    margin-left: 10px;
    

}

#horario{
    position: absolute;
    left: 100%;
    top: 65.9%;
    width: 300px;
}

#telefone{
    margin-top: 50%;
}

#redesocial{
    position: absolute;
    left: 80%;
    top: 23%;
}

#emailcontato{
    position: absolute;
    left: 80%;
    top: 50%;
}