
*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

#navbar{
    position: fixed;
    width: 100%;
    
    
}

.menutop{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin-left: 200px;
    text-align: center;
    align-items: center;
}

.body{
    background-color: #f9f9f9;
}



#texto{
    width: 250px;    
    float: right;
    
}

#texto:focus{
    border: solid 2px grey;
}

.btnsrch{
    width: 10px;
    height: 10px;
    background-color: grey;
    padding: 5px 10px;
    cursor: pointer;
    float: right;

    
}

.btnsrch:hover{
    background-color: black;
}

.mtbtn{
    cursor: pointer;
}

.mtbtn:hover{
    background-color: gray;
}

/* Slide show de Imagens */

#slideshow{

    margin-top: 100px;
}


.slide
{   
    justify-content: center;
    position: relative;
    display: flex;
    
}

.foto
{
    position: absolute;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes animacao{
    25%{
        opacity: 1;
        transform:scale(1.1,1.1);
    }
    50%{
        opacity: 0;
    }
}

.foto:nth-child(2){
    animation-delay: 5s;
}
.foto:nth-child(3){
    animation-delay: 10s;
}
.foto:nth-child(4){
    animation-delay: 15s;
}

/* Seção de destaques */

#textod{
    margin-top: 350px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.destaque{
    font-size: 25px;
    font-weight: 500;
}

.especial{
    font-weight: normal;
}

/* Imagens dos destaques */


#selecao{
    display: grid;
    position: relative;
    margin-left: 70px;
    margin-right: 50px;
}


.descricaos{
    width: 265px;
    border: 15px black;
    border-style: outset;
    border-width: 5px;
    text-align: center;
    justify-content: center;
    height: 100px;
    background-color: grey;
    color: white;
    display: inline-flex;
    margin-top: -5px;
}

/* Botão para ver estoque completo */

.btncheck{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
}